<div class="card shadow" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    <form (submit)="submitFormCadastro()" [formGroup]="cadastroForm" class="needs-validation" >
      <div class="form-group">
        <input type="email" class="form-control" id="validationCustom03"
        formControlName="email"
        placeholder="E-mail" required>
        <div class="p-2" *ngIf="cadastroForm.get('email')?.value.length > 0 && cadastroForm.get('email')?.invalid && ( cadastroForm.get('email')?.dirty || cadastroForm.get('email')?.touched)">
          <span class="text-danger">*E-mail inválido. </span>
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          formControlName="nomeCompleto"
          class="form-control"
          placeholder="Nome completo"
        >
        <div class="p-2" *ngIf="cadastroForm.get('nomeCompleto')?.value.length > 0 && cadastroForm.get('nomeCompleto')?.invalid && ( cadastroForm.get('nomeCompleto')?.dirty || cadastroForm.get('nomeCompleto')?.touched)">
          <span class="text-danger">*O nome precisa ter entre 5 e 25 caracteres.</span>
        </div>
      </div>
      <div class="form-group">
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" class="form-control"
      formControlName="nomeUsuario"
      placeholder="Nome de usuário" required>
      <div class="p-2" *ngIf="cadastroForm.get('nomeUsuario')?.value.length > 0 && cadastroForm.get('nomeUsuario')?.invalid && ( cadastroForm.get('nomeUsuario')?.dirty || cadastroForm.get('nomeUsuario')?.touched)">
        <span class="text-danger">*O nome de usuário só pode ter no máximo 15 caracteres.</span>
      </div>
    </div>
      </div>
      <div class="form-group">
        <input
        formControlName="senha"
        type="password"
          class="form-control"
          placeholder="Senha"
        >
        <div class="p-2" *ngIf="cadastroForm.get('senha')?.value.length > 0 && cadastroForm.get('senha')?.invalid && ( cadastroForm.get('senha')?.dirty || cadastroForm.get('senha')?.touched)">
          <span class="text-danger">*A senha precisa ter entre 5 e 15 caracteres.</span>
        </div>
      </div>
      <button type="submit" [disabled]="cadastroForm.invalid" class="btn btn-primary btn-sm btn-block">Cadastre-se</button>
    </form>
    <hr />

    <p class="small text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Privacidade</b>.</p>

  </div>
</div>
<br />
<div class="card shadow" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a (click)="irLogar()" href="#" class="card-link">Faça login</a>
    </p>
  </div>
</div>
