<div class="container mt-20">
  <div class="row ">
    <div class="col-sm-6 col-sm d-flex justify-content-end">
      <app-banner [@loadBanner]="animCarregado"></app-banner>
    </div>

    <div class="col-sm-6 d-flex justify-content-start">


      <app-login *ngIf="isLogin; else cadastro" [@loadSecondCol]="animCarregado" (irCadastro)='irCadastro($event)'></app-login>

      <ng-template #cadastro>
        <app-cadastro (irLogin)='irCadastro($event)' [@loadSecondCol]="animCarregado"></app-cadastro>
      </ng-template>

    </div>
  </div>
</div>
